---
---
@import "{{ site.theme }}";

body {
    background-image: url('../images/background.jpg') !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
